@media screen and (max-width: 760px) {

    .header a {
        display: none;
    }
     /* .topnav.responsive .buttons {
        display: none;
    } */
    /*
   
    .topnav a:not(:first-child) {
        display: none;
    } */
    .topnav.responsive .buttons {
        margin-top: 0;
        display: inline-grid;
    } 
    .topnav .buttons {
        margin-left: 6px;
        margin-top: 23px;
    }
    .buttons button {
        width: 64px;
        padding: 0;
        height: 34px;
        font-size: 12px;
        margin: 10px 5px;
    }

    .topnav a.icon {
        float: right;
        display: block;
        width: 48px;
        margin: 31px 0;
        font-size: 20px;
        position: absolute;
        top: 40px;
        right: 25px;
    }



    .topnav {
        display: block;
        padding: 0 0 30px 0;
    }

    /* .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    } */

    .topnav.responsive a {
        display: block;
    }

    .topnav .title {
        display: flex;
        justify-content: center;
    }

    .header button {
        height: 60px;
    }

    .topnav .search-container {
        height: 50px;
        padding-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .search-container input {
        /* width: 80%; */
        float: left;
        border: none;
        font-size: 10px;
        height: 29px;
    }

    .search-container button {
        float: none;
        height: 29px;
        width: 28px;
        border: none;
        font-size: 10px;
    }

    .topnav .title {
        padding: 10px 0 0 0;
    }

    .slides .slide {
        margin-top: 206px;
    }

    .pages {
        width: 50%;
        margin-top: 220px;
    }

}

@media screen and (max-width: 760px) and (min-width: 488px) {
    .container .cards {
        /* width: 95%; */
        margin-top: 40px;
    }

    .container .cards1 {
        margin-top: 220px;
    }

    .cards .card {
        width: 33%;
        margin: 0 3px;
        /* height: 315px; */
    }

    .card .photo img {
        /* width: 85%; */
        height: 25vh;
    }

    .card .photo {
        height: 26vh;
        display: flex;
        justify-content: center;
    }

    .card__para .card_1,
    .card_3 {
        font-size: 17px;
    }

    .card__para .card_2 {
        font-size: 13px;
    }

    .card button {
        font-size: 12px;
    }
}

@media screen and (max-width: 1020px) {
    .header button {
        width: 85px;
        font-size: 13px;
    }


}


@media screen and (min-width: 761px) and (max-width: 991px) {
    .header button {
        width: 75px;
        font-size: 11px;
    }

    .topnav .rest {
        font-size: 25px;
        padding-left: 25px;
        margin-right: 35px;
    }

    .search-container {
        margin-right: 20px;
    }

    .search-container .search-box {
        height: 28px;
        padding: 0 11px;
        width: 140px;
        font-size: 12px;
    }

    .search-container button {
        font-size: 12px;
        width: 30px;
        height: 28px;
    }

    .cards .card {
        width: 30%;
        margin: 0 2%;
        /* height: 370px; */
    }
    .pages {
        width: 40%;
    }

}

@media screen and (min-width: 761px) and (max-width: 769px) {
    .cards .card {
        width: 33%;
        margin: 0 3px;
        /* height: 415px; */
    }
    .topnav .buttons {
        margin-left: 10px;
    }
    .buttons button {
        margin: 0 1px;
        width: 65px;
        height: 34px;
        font-size: 11px;
    }
    
}

@media screen and (max-width: 487px) {
    .container .cards {
        display: inline-block;
    }

    .cards .card {
        width: 50%;
        /* height: 370px; */
        margin: 80px 0;
    }
    .pages {
        width: 60%;
    }
}

@media screen and (max-width: 383px) {
    .cards .card {
        width: 66%;
        /* height: 355px; */
        margin: 80px 0;
    }
}

@media screen and (max-width: 296px) {
    .cards .card {
        width: 80%;
        /* height: 365px; */
        margin: 80px 0;
    }
}

@media screen and (max-width: 1165px)  {
    .topnav .search-container {
        margin-right: 20px;
    }
    .topnav .rest {
        font-size: 26px;
        padding-left: 20px;
        margin-right: 30px;
    }
    .header button {
        width: 76px;
        font-size: 13px;
    }

}

@media screen and (max-width: 248px) {
    .cards .card {
        width: 90%;
        /* height: 370px; */
        margin: 80px 0;
    }
}
@media screen and (max-width: 900px) and (min-width: 761px) {
    .topnav .rest {
        font-size: 24px;
        padding-left: 15px;
        margin-right: 25px;
    }
    .topnav .search-container {
        margin-right: 4px;
    }
    .search-container .search-box {
        height: 26px;
        padding: 0 11px;
        width: 115px;
        font-size: 11px;
    }
    .search-container button {
        font-size: 10px;
        width: 26px;
        height: 26px;
    }
    .header button {
        width: 64px;
        font-size: 13px;
    }


}

@media screen and (max-width: 223px) {

    .card__para .card_1,
    .card_3 {
        font-size: 17px;
    }

    .card__para .card_2 {
        font-size: 13px;
    }

    .card button {
        font-size: 12px;
    }

    /* .cards .card {
        height: 330px;
    } */
}

@media screen and (max-width: 400px) {
    .search-container input {
        width: 80%;
    }

    .topnav a.icon {
        margin: 31px -20px 31px 0px;
    }
}

@media screen and (max-width: 1250px) and (min-width: 1211px) {
    .topnav .buttons {
        margin-left: 30px;
    }

    .buttons button {
        margin: 0 5px;
        width: 71px;
        padding: 0;
        height: 40px;
        font-size: 14px;
    }
}

@media screen and (max-width: 1210px) and (min-width: 769px) {
    .topnav .buttons {
        margin-left: 15px;
    }

    .buttons button {
        margin: 0 2px;
        width: 65px;
        padding: 0;
        height: 40px;
        font-size: 13px;
    }

}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
